.main {
    width: 50%;
    margin-left: 30%;
    margin-top: 30vh;
    .url {
        display: flex;
        .textBox {
            width: 100%;
            input {
                height: 35px;
                width: 70%;
                outline: none;
                border: 2px solid purple;
                border-right: none;
            }
        }
        .generate {
            width: 29%;
            button {
                background-color: transparent;
                border: 2px solid purple;
                border-left: none;
                width: 41px;
                height: 41px;
                font-size: 17px;
                color: white;
                margin-left: -101%;
                &:hover {
                    background-color: purple;
                }
            }
        }
    }
}