.main {
    width: 50%;
    margin-top: 20vh;
    position: relative;
    margin-left: 35%;
    .url {
        display: flex;
        .textBox {
            width: 100%;
            //margin-left: 20%;
            input {
                height: 35px;
                width: 70%;
                outline: none;
                border: 2px solid purple;
                border-right: none;
            }
        }
        .generate {
            width: 29%;
            button {
                background-color: transparent;
                border: 2px solid purple;
                border-left: none;
                width: 41px;
                height: 41px;
                font-size: 17px;
                color: white;
                margin-left: -101%;
                &:hover {
                    background-color: purple;
                }
            }
        }
        
    }
    .qrBox {
        margin-top: 10vh;
        padding-top: 10vh;
        padding-bottom: 10vh;
        padding-left: 20%;
        background: black;
        border-radius: 10px;
        width: 40%;
        a {
            display: block;
            margin-top: 5%;
            color: white;
            background-color: #202124;
            padding: 5%;
            padding-left: 15%;
            width: 35%;
            text-decoration: none;
        }
    }
}