.main {
    width: 50%;
    margin-top: 20vh;
    position: relative;
    h1 {
        color: white;
        text-align: center;
    }
    
    .qrBox {
        padding-top: 10vh;
        padding-bottom: 10vh;
        padding-left: 40%;
        background: black;
        border-radius: 10px;
        width: 100%;
        a {
            display: block;
            margin-top: 5%;
            color: white;
            padding: 5%;
            text-decoration: none;
        }
    }
}

@media (max-width: 1000px) {
    .main {
        width: 100%;
        .qrBox {
            padding-left: 25%;
        }
    }
}